@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-size: 100%;
}

.hamburger {
  display: block;
  margin: 20px;
}

.bar {
  display: block;
  width: 27px;
  height: 3.6px;
  margin: 5px;
  background-color: #03040a;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
  background-color: #272a31;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #272a31;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #272a31;
}

.nav-menu {
  position: fixed;
  left: -100%;
  padding-top: 10px;
  padding-right: 80%;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.1);
  width: 100%;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  display: flex;
  align-items: center;
}

.nav-item {
  padding-left: 25px;
  margin-right: auto;
  text-align: start;
}

.nav-menu.active {
  left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272a31;
}

header {
  width: 90%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.heading1 {
  color: #ec5242;
}

.heading2 {
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(assets/download.png);
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.parag {
  border: 2px solid #ffff;
  margin-top: 10px;
  font-weight: 100;
  padding: 13px;
  color: #6b6c6d;
}

.date {
  margin-top: 40px;
}

.main-program {
  background-color: #03040a;
  width: 100%;
  margin-top: 5%;
  padding-bottom: 2%;
}

.heading3 {
  padding-top: 15px;
  color: #ffff;
  display: flex;
  justify-content: center;
}

.hr {
  width: 5%;
  border: 1px solid #ec5242;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.grid-section {
  display: grid;
  grid-template-columns: auto;
  row-gap: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10%;
}

.grid-item {
  background-color: rgba(128, 124, 124, 0.3);
  padding: 10px;
}

.item1 {
  display: flex;
  gap: 5%;
}

img {
  width: 35px;
  height: 35px;
}

.first-p {
  color: #ec5242;
  margin-left: 0%;
}

.second-p {
  color: #ffff;
  font-size: 12px;
}

.grid-item2 {
  background-color: #ec5242;
  height: 60px;
  width: 68%;
  color: #ffff;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
}

.join-p {
  text-align: center;
  padding-top: 5px;
}

.speakers {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.professor {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 20px;
}

.image_wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.overlay_2 {
  inset: 0;
}

.summit-year {
  color: #fff;
  font-size: 35px;
}

.summit-desc {
  color: #fff;
  font-size: 15px;
}

.img-container {
  background: url(assets/peakpx.jpg);
  background-repeat: no-repeat;
  background-size: 80px 80px;
  margin-right: 20px;
}

.professor .img-container img {
  padding-left: 15px;
  padding-top: 20px;
  object-fit: cover;
  width: 140px;
  height: 140px;
}

.professor .professor-name {
  font-family: "Cocogoose", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.professor .professor-summary {
  font-family: "Cocogoose-Italic", sans-serif;
  font-size: 8px;
  margin-bottom: 20px;
  color: #ec5242;
}

.professor hr {
  width: 12px;
  color: #757370;
  margin-bottom: 20px;
}

.professor .professor-studies {
  font-family: "Lato", sans-serif;
  font-size: 8px;
  color: #4a4848;
}

.more-professors-btn {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  padding: 20px 30px;
  gap: 15px;
  background-color: #fff;
  width: 80%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
}

#more {
  width: 10px;
  height: 10px;
  margin-top: 7px;
}

.partners {
  display: flex;
  flex-direction: column;
  background-color: #414246;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  overflow: auto;
}

.partners-about {
  display: flex;
  flex-direction: column;
  background-color: #414246;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  overflow: auto;
}

.partners-heading {
  color: #8f8f91;
  text-align: center;
}

.partner-icons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}

.partner-icons {
  display: flex;
  flex-direction: row;
  gap: 64px;
  list-style-type: none;
  margin-top: 30px;
}

footer {
  background-color: #fff;
  padding: 15px 60px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.copyright {
  height: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  font-size: 12px;
  margin-left: 20px;
  color: #6b6c6d;
}

.partner-logo {
  width: 100%;
  height: 38px;
}

.footer-logo {
  width: 40px;
  height: 40px;
}

.heading1about {
  color: #ec5242;
  display: flex;
  justify-content: center;
}

.footer-logo-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.paragabout {
  border: 2px solid #d3d3d3;
  margin-top: 10px;
  background-color: #fff;
  font-weight: 100;
  padding: 18px;
  text-align: center;
  font-size: 12px;
  color: #b5b4b4;
}

.info {
  text-decoration: underline;
}

.info-sec {
  background-color: transparent;
  margin-top: 25px;
  justify-content: center;
  display: flex;
  padding: 33px;
}

.info-p {
  text-align: center;
  color: #616162;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.past-summit {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 50px;
}

.summit {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.hrabout {
  width: 90px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  border: 1px solid rgb(110, 55, 15);
}

.majisafiP {
  color: #8f8f91;
  display: flex;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.majisafi {
  width: 20%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.group-photo {
  padding: 24px;
}

.grp {
  width: 94%;
  height: 69%;
  margin-left: auto;
  padding: 5px 0;
  margin-right: auto;
  display: flex;
}

.pastphotos {
  background-color: #fff;
  padding: 50px 10px;
}

.pastp {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.pag {
  font-size: 12px;
  color: #757370;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 12px;
}

.img-title {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.p {
  color: #fff;
  font-size: 15px;
}

.upper-nav {
  display: none;
}

.heading31 {
  display: none;
}

.hrprog {
  display: none;
}

.flex .logo {
  display: none;
  gap: 10%;
}

.sub {
  color: #979696;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    margin-left: 5%;
    width: 100%;
  }

  .nav-menu {
    position: inherit;
    flex-direction: row;
    backdrop-filter: blur(0);
    padding-top: 20px;
    padding-right: 0;
    background-color: transparent;
    text-align: center;
    justify-content: end;
    transition: 0.3s;
    width: 60%;
    gap: 35px;
    margin-left: 0%;
    color: #344563;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 44px;
    display: flex;
  }

  .nav-link {
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    transition: 0.7s ease;
  }

  #nav1 {
    color: #ec5242;
  }

  .nav-item {
    padding-left: 0;
    margin-right: 0;
  }

  .upper-nav {
    display: block;
    background-color: #383839;
  }

  .top {
    display: flex;
    gap: 17px;
    padding: 5px;
    margin-left: 70%;
  }

  .pa {
    color: white;
    font-size: 12px;
  }

  #fb {
    width: 16px;
    height: 16px;
  }

  #twitter {
    width: 16px;
    height: 16px;
  }

  .GE {
    padding-left: 0;
    height: 25px;
    color: #ec5242;
    border: 3px solid #ec5242;
  }

  #ge {
    color: #ec5242;
    font-weight: 900;
    padding: 0 15px;
  }

  #logo {
    width: 40px;
    margin-left: 40px;
    margin-top: 11px;
    height: 40px;
  }

  .flex {
    display: flex;
  }

  .flex .logo {
    display: block;
    margin-left: 20%;
  }

  header {
    width: 55%;
    margin-left: 22%;
  }

  #about-header {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-item2 {
    display: none;
  }

  .grid-section {
    grid-template-columns: auto auto auto auto auto;
    column-gap: 5px;
    margin-top: 5%;
  }

  .item1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .main-program {
    padding-bottom: 8%;
    background: url(assets/pat.jpg);
    background: #383839;
  }

  .heading31 {
    padding-top: 15px;
    color: #ffff;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .hrprog {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .more-professors-btn {
    display: none;
  }

  .professor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10%;
  }

  .partner-icons-list {
    flex-direction: row;
    gap: 47px;
  }

  .footer {
    padding: 15px 200px;
  }

  #footer-about {
    background-color: #272a31;
    justify-content: center;
  }

  #footer-home {
    background-color: #f0ecec;
    justify-content: center;
  }

  br {
    display: none;
  }

  .partners-about {
    display: none;
  }

  #br {
    display: none;
  }

  .group-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 35px 120px;
  }

  .grp {
    width: 94%;
    height: 90%;
    padding: 0;
  }

  #earth {
    width: 100px;
    height: 100px;
  }

  .copyright {
    margin-top: 37px;
    color: #fff;
  }

  #copy-home {
    margin-top: 37px;
    color: #03040a;
  }

  .heading1about {
    display: none;
  }

  .heading2 {
    font-size: 70px;
  }

  .line {
    width: 100%;
    border: 1px solid #d3d3d3;
  }
}
